<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<app-header></app-header>
<app-menu-user></app-menu-user>
<br>
<form #f="ngForm">
  <div class="container">
    <div class="row ">
      <div class="col-md-4 py-5 bg-primary text-white text-center ">
        <div class=" ">
          <div class="card-body">
            <!--<img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">-->
            <img width="300"  src="./assets/img.png" >
            <h2 class="py-3">Add a new parking location</h2>
            <p> and increase your chance to find the perfect parking location when you will need it.
            </p>
            <h2 type="text">:)</h2>
          </div>
        </div>
      </div>
      <div class="col-md-8 py-3 border">
        <h4 class="pb-4 text-center">Please fill with your details</h4>
        <br>
        <br>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="selectedMoment2" class="col-md-6 control-label">Date time range</label>
          </div>
          <div class="form-group col-md-6">
            <div class="input-wrapper">
              <input [(ngModel)]="selectedMoment2"  name="selectedMoment2" [selectMode]="'range'" id="selectedMoment2"
                     [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3" [min]="min"  #DateT="ngModel" required="DateT"
                     placeholder="Date and time"  class="form-control" autofocus>
              <owl-date-time #dtPicker3></owl-date-time>

              <div *ngIf="DateT.invalid &&  DateT.touched"
                   class="alert alert-danger">
                Please insert a valid date
              </div>
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="street" class="col-md-6 control-label">Street</label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" id="street"
                   [(ngModel)]="street" name="street"
                   placeholder="Address"
                   #Street="ngModel"
                   required="Street"
            >
            <div *ngIf="Street.invalid && (Street.dirty || Street.touched)"
                 class="alert alert-danger">
               <div *ngIf="Street.errors.required">
                Street is required.
              </div>
            </div>
          </div>
        </div>



        <div class="form-row">
          <div  class="form-group col-md-12 col">
            <input type="text" id="details"
                   [(ngModel)]="details" name="street"
                   placeholder="Leave a comment" class="form-control" autofocus
                   required="Details"
            >

          </div>
        </div>

        <!-- Default unchecked -->

        <input
          type="checkbox"
          [(ngModel)]="isFree"
          [ngModelOptions]="{standalone: true}"/> Only for users who have registered a location


        <div class="form-row">
          <button type="button" class="btn btn-primary" id="add"
                  (click)="getRegistaration()"
          [disabled]="f.invalid"
          >Add location
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
