
<!--<div class="card-body">-->
<!--  <p-dataTable [value]="historyList2"   [paginator]="true" [rows]="4" #dt>-->
<!--    <p-column field="label" header="Streets" [filter]="true"  [sortable]="true"></p-column>-->
<!--    <p-column field="language" header="For all users" [sortable]="true"></p-column>-->
<!--    <p-column field="countryCode" header="Start date" [sortable]="true"></p-column>-->
<!--    <p-column field="locationId" header="End date" [sortable]="true"></p-column>-->
<!--    <p-column header="Reserve">-->

<!--      <ng-template let-row="rowData" pTemplate="body">-->

<!--        <button type="button" class="btn btn-primary" id="reserve"-->
<!--                (click)="goToReserve(row)"-->
<!--        >Go-->
<!--        </button>-->

<!--      </ng-template>-->
<!--    </p-column>-->

<!--  </p-dataTable>-->
