<div>
<div style="padding: 10px 0">
  <input type="text" placeholder="Search places..." [(ngModel)]="query" />
  <button (click)="map.places(query)" class="btn btn-primary">Search</button>

</div>
<app-here-map
  #map
  appId="0dNbIEXdo0XceyL4mbY7"
  appCode="_ketCycjQ-mEtVlMO_OGTw"
  lat="44.3917853"
  lng="26.1241184"
  width="100%"
  height="530px">
</app-here-map>

  <div class="card-body" id="tabel1" width="100%">
      <p-dataTable [value]="historyList"   [paginator]="true" [rows]="4" #dt>
      <p-column field="address" header="Streets" [filter]="true"  [sortable]="true">
        <ng-template let-col="rowData" pTemplate type="body" >
          <button type="button" (click)="map.places(col.address)" class="btn btn-primary"  pButton
                  >{{col.address}}</button>
        </ng-template>
      </p-column>
      <p-column field="isFree" header="For all users" [sortable]="true"></p-column>
      <p-column field="startDate" header="Start date" [sortable]="true"  [style]="{'width': '200px'}">
        <ng-template let-row="rowData" pTemplate="body">
          {{row.startDate | date:'MM/dd/yyyy hh:mm'}}
        </ng-template>
      </p-column>
      <p-column field="endDate" header="End date" [sortable]="true"  [style]="{'width': '200px'}">
        <ng-template let-row="rowData" pTemplate="body">
          {{row.endDate | date:'MM/dd/yyyy hh:mm'}}
        </ng-template>
      </p-column>
      <p-column header="Reserve">

        <ng-template let-row="rowData" pTemplate="body">

          <button type="button" class="btn btn-primary" id="reserve"
                  (click)="goToReserve(row)">Go
          </button>

        </ng-template>
      </p-column>

    </p-dataTable>

  </div>

</div>
