<app-header></app-header>
<app-menu-user></app-menu-user>



<div class="card">
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th>#</th>
          <th class="text-center">Street</th>
          <th class="text-center">For all users </th>
          <th class="text-center">Start date</th>
          <th class="text-center">End date</th>

        </tr>
        <tbody *ngFor="let history of historyList; index as i">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{history.address}}</td>
          <td>{{history.isFree}}</td>
          <td>{{history.startDate}}</td>
          <td>{{history.endDate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
